table {
    width: 570px;
    height: 700px;
    border: 7px solid rgb(0, 0, 0);
    
    align-self: center;
    margin:1em auto;
  }
  

td {
    height:10px;
    width:30px;
}

input {
    height: 90%;
   
    width:92% ;
    border: 1px solid ;
    font-size: 30px;
    text-align:center ;
}

td:first-child {
    border-left:solid;
}
td:nth-child(3n) {
    
    border-right: 5px solid rgb(87, 87, 87);
  }
  tr:first-child {
    border-top:5px solid rgb(87, 87, 87);
  } 
 tr:nth-child(3n) td {
    border-bottom:5px solid rgb(87, 87, 87);
  }