table {
    width: 570px;
    height: 600px;
    border: 7px solid rgb(0, 0, 0);
    
    align-self: center;
    margin:1em auto;
  }
  table {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  

td {
    height:15px;
    width:30px;
}

input {
    height: 90%;
    background-color: #ffffff; /* Green */
   
    width:92% ;
    border: 1px solid ;
    font-size: 30px;
    text-align:center ;
}

td:first-child {
    border-left:5px solid rgb(87, 87, 87);
}
td:nth-child(3n) {
    
    border-right: 5px solid rgb(87, 87, 87);
  }
  tr:first-child {
    border-top:5px solid rgb(87, 87, 87);
  } 
 tr:nth-child(3n) td {
    border-bottom:5px solid rgb(87, 87, 87);
  }


  input[type=button], input[type=submit], input[type=reset] {
    background-color: #2b70d8;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;


  }

  input[type=button]:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 1
  }

  
 
  
  body {
    background-color: lightblue;
  }

  .dropbtn {
    background-color:#2b70d8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:#2b70d8;}