<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 

</head>

<body>


    <div style="float:left; width: 300px;">
    
        <table id="leaderboard" style="background-color: rgb(188, 196, 202); border: 5xp solid black; width:250px">
            <tbody id="leaderbody">
                <tr  style="border: 5xp black;">
                    
                    <th colspan="2">Visitors</th>
                </tr>
                <tr class="row">
                    <th>User Name: </th>
                    <th>Best Time: </th>
             
                </tr>

            </tbody>
        
        </table>
    </div>



<div style=" float:left; width: 700px;">
<h2 style="align-self:center; width: 400px; margin:1em auto;">Welcome to Sudoku Puzzle Solver!</h2>
<!-- <h1 id="loading"></h1> -->
<!-- <div id="screen"class="alert">
    <span  id ="loading"></span> 
    
  </div> -->


<table class="table1">
<tr class="tr1">
    <td class="td1"><input type="text" maxlength="1" pattern="^[1-9]" class="cell" ></td>
    <td class="td1"><input type="text" maxlength="1"class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1" class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1"class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1"class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>
</tr>
<tr class="tr1">
    <td class="td1"><input type="text" maxlength="1" class="cell" ></td>
    <td class="td1"><input type="text" maxlength="1"class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1" class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1"class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1"class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>
</tr>
<tr class="tr1">
    <td class="td1"><input type="text" maxlength="1" class="cell" ></td>
    <td class="td1"><input type="text" maxlength="1"class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1" class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1"class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1"class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>
</tr>
<tr class="tr1">
    <td class="td1"><input type="text" maxlength="1" class="cell" ></td>
    <td class="td1"><input type="text" maxlength="1"class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1" class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1"class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1"class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>
</tr>
<tr class="tr1">
    <td class="td1"><input type="text" maxlength="1" class="cell" ></td>
    <td class="td1"><input type="text" maxlength="1"class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1" class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1"class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1"class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>
</tr>
<tr class="tr1">
    <td class="td1"><input type="text" maxlength="1" class="cell" ></td>
    <td class="td1"><input type="text" maxlength="1"class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1" class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1"class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1"class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>
</tr>
<tr class="tr1">
    <td class="td1"><input type="text" maxlength="1" class="cell" ></td>
    <td class="td1"><input type="text" maxlength="1"class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1" class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1"class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1"class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>
</tr>
<tr class="tr1">
    <td class="td1"><input type="text" maxlength="1" class="cell" ></td>
    <td class="td1"><input type="text" maxlength="1"class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1" class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1"class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1"class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>
</tr>
<tr class="tr1">
    <td class="td1"><input type="text" maxlength="1" class="cell" ></td>
    <td class="td1"><input type="text" maxlength="1"class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1" class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1"class="cell"> </td>

    <td class="td1"><input type="text" maxlength="1"class="cell"></td>
    <td class="td1"><input type="text" maxlength="1" class="cell"></td>   
    <td class="td1"><input type="text" maxlength="1" class="cell"> </td>
</tr>

  
    </table>
</div>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='mongoConnect.js') }}"> -->


    <div style="align-self:center; width: 300px; margin:1em auto; float:left">
        <h1 id="myClock">00: 00: 00</h1>
        <input type="button" value="Reset Puzzle" onclick="reset()" >
        
        <div class="dropdown" >
            <button class="dropbtn" value="Random Puzzle">Random Puzzle</button>
            <div class="dropdown-content">
                
              <a onclick="CallEasy()">Easy</a>
              <a onclick="CallMedium()">Medium</a>
              <a onclick="CallHard()">Hard</a>
            </div>
          </div>
        <input type="button" value="Solve Puzzle" onclick="callAPI()" >
        <!-- <input type="button" value="test" onclick="getDB()" > -->
        <!-- <input type="button" value="isvalid" onclick="isvalid()" > -->
     
        

    
    </div>
    <div id="screen"class="alert">
        <span  id ="loading"></span> 
        
      </div>

    <div class="form-popup" id="myForm">
        <form   class="form-container">
          <h1>Want to save your time?</h1>
      
          <label ><b>Name</b></label>
          <input type="text" placeholder="Enter Name or nickname" id="nickname" required>
      
          <!-- <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required> -->
      <div class="popup" >
        <button type="button" class="btn" onclick="sendDB()">Submit  </button>

        <span class="popuptext" id="myPopup">A Simple Popup!</span>

      
      </div>

          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">    </script>

<script type="text/javascript">
    $(document).ready(function() {

$('.cell').keypress(function (e) {
    if (e.which === 13) {
        e.preventDefault();
        var index = $('.cell').index(this) + 1;
        $('.cell').eq(index).focus();
    }


});

$(".cell").on('input', function(){
    var id=$(this).attr('id');
    var x=document.getElementById(id).value;

    if (x==""){
        document.getElementById(id).style.backgroundColor="rgb(255, 255, 255)";

    }
    if (x=="0"){
        document.getElementById(id).value="";

    }
    

    if (isNaN(x)){
        document.getElementById(id).value = "";
        alert("input"+parseInt(id)+ " is not a number");
        

    }
    var row=Math.floor(parseInt(id)/9)*9;


    var cellElements = document.querySelectorAll('.cell');
    console.log(cellElements.length)
    // Set their ids
    
    for (var i = row; i < row+9; i++){
        if (i!=parseInt(id) && cellElements[i].value!=""  && cellElements[i].value==x){
            document.getElementById(id).style.backgroundColor="rgb(248, 11, 11)";

        }
        
    }
    var col=parseInt(id)%9;

    var i=col;

    while (i < 81) {
        if (i!=parseInt(id) && cellElements[i].value!="" && cellElements[i].value==x){
            document.getElementById(id).style.backgroundColor="rgb(248, 11, 11)";

        }
      i+=9;
    }

  
    var subsquare_index= Math.floor((parseInt(id)%9)/3)+3*(Math.floor(parseInt(id)/(9*3)))
    console.log("subsquareindex: "+subsquare_index);

    var inner_index;
    

    switch(subsquare_index) {
    case 0:
        inner_index = 0;
        break;
    case 1:
        inner_index = 3;
        break;
    case 2:
        inner_index = 6;
        break;
    case 3:
        inner_index = 27;
        break;
    case 4:
        inner_index = 30;
        break;
    case 5:
        inner_index = 33;
        break;

    case 6:
        inner_index = 54;
        break;
    case 7:
        inner_index =57;
        break;
    case 8:
        inner_index =60;
        break;
    default:
        inner_index =0;
    }

    var i=inner_index;
    var col=0

    while(i<inner_index+21){
        if (i!=parseInt(id) && cellElements[i].value!="" && cellElements[i].value==x){
            document.getElementById(id).style.backgroundColor="rgb(248, 11, 11)";

        }

        col++;

        if (col==3){
            col=0;
            i+=6;
        }


        i++;

    }

    if(checkdone() && badinput()){
        isvalid();
    }







});

window.onload = function WindowLoad(event) {

    var cellElements = document.querySelectorAll('.cell');
    console.log(cellElements.length)
    // Set their ids
    for (var i = 0; i < cellElements.length; i++){
        cellElements[i].id =  i;
        
    }
    getDB();
    var x = document.getElementById("screen");
    x.style.display = "none";
}




});

function sendDB(){
    // var stuff=document.getElementById('me');
    // stuff.innerHTML="";
    var name=document.getElementById("nickname").value;
    // document.getElementById("myClock").innerHTML
    var time=document.getElementById("myClock").innerHTML;
    fetch("http://localhost:9000/mongodbAPI/insertusers/"+name+"/"+time)
        .then(res => {
            return res.text()})
        .then(data => {
            // stuff.innerHTML=data;

            // var table=document.getElementById("leaderboard");
            // var json=data;
         if (data=="inserted"){
                var popup = document.getElementById("myPopup");
                document.getElementById("myPopup").innerHTML="Your time was added to leaderboard";
                popup.classList.toggle("show");

            }




        }).catch(err => {
        console.log(err)


    });
    // window.location.reload();
}
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
    window.location.reload();
}

function badinput(){
    var cellElements = document.querySelectorAll('.cell');
    console.log(cellElements.length)
    // Set their ids
    var result=true;
    for (var i = 0; i < cellElements.length; i++){
        if (cellElements[i].backgroundColor=="rgb(248, 11, 11)"){
            result=false;

        }
        
    }
    return result;
    
}


    function reset(){

        var cellElements = document.querySelectorAll('.cell');
        console.log(cellElements.length)
        // Set their ids
        for (var i = 0; i < cellElements.length; i++){
            cellElements[i].value =  "";
            cellElements[i].style.backgroundColor="rgb(255,255,255)"
            
        }

        // starttime();
        // timer();
        pausetime();
        document.getElementById("myClock").innerHTML="00: 00: 00";     //ferfrefrefr

            
        
    }
        
    function checkNum(){


    var arr=[];
    
    var err=false;
    for (var i=0;i<81;i++){
        var x=document.getElementById(i);
        var colour=document.getElementById(i).style.backgroundColor


        if ( x.value!= "" && colour=="rgb(248, 11, 11)" ){
        
            
            err=true;
            console.log("Incorrect input, cannot submit");
            x.value="";
            document.getElementById(i).style.backgroundColor="rgb(255, 255, 255)";
            
            
        }
        else if (x.value==""){
            arr.push(0);
            
        }
        else if(x.value!="" && !isNaN(x.value)){
            arr.push(x.value);
           


        }

    }
    if (err==true){
        alert("Incorrect input, cannot submit");
        

    }
    else{
        
    console.log("array:");

    for (var i=0;i<arr.length;i++){
        console.log(arr[i])

    }

    }

    return arr;

    }

function callAPI(){
    // var stuff=document.getElementById('me');
    // stuff.innerHTML="";
    // var arr=[3,3,3,3];
    
    var arr=checkNum();

    var input_arr=[]
    $('#loading').show();
    $('#screen').show();
    var x = document.getElementById("screen");
    x.style.display = "block";

    document.getElementById("loading").innerHTML="Please wait while your puzzle solves...";

    for (var i=0;i<arr.length;i++){
        if (arr[i]==0){
            input_arr.push(false)

        }
        else{
            input_arr.push(true)

        }
    }
    

    var apiUrl = '/b/'+arr;
    fetch(apiUrl).then(response => {
    return response.text();
    
    }).then(data => {
    // Work with JSON data here
    
    // stuff.innerHTML=JSON.stringify(data);
    // stuff.innerHTML=data;


    var cellElements = document.querySelectorAll('.cell');
    console.log(cellElements.length)
    // Set their ids
    for (var i = 0; i < cellElements.length; i++){
        cellElements[i].value =  data[i];
        if (input_arr[i]==false){
            cellElements[i].style.backgroundColor="rgb(128, 255, 0)";

        }
        
        
    }
    document.getElementById("loading").innerHTML="puzzle solved!";
    setTimeout(function(){
    $('#loading').hide()
    $('#screen').hide()
}, 3000) // time in millisecond for as long as you like
    }).catch(err => {
        console.log(err)


    });

}

function CallEasy(){
    // var stuff=document.getElementById('me');
    // stuff.innerHTML="";
    // var arr=[3,3,3,3];
    clearbackground();


    var apiUrl = '/c1/';
    fetch(apiUrl).then(response => {
    return response.text();
    
    }).then(data => {
    // Work with JSON data here
    
    // stuff.innerHTML=JSON.stringify(data);
    // stuff.innerHTML=data;


    var cellElements = document.querySelectorAll('.cell');
    console.log(cellElements.length)
    // Set their ids
    for (var i = 0; i < cellElements.length; i++){
        if(data[i]==0){
            cellElements[i].value =  "";

        }
        else{
            cellElements[i].style.backgroundColor="rgb(219, 213, 249)";

            cellElements[i].value =  data[i];

        }


    }
    starttime();
    timer();
    //ferfrefrefr

    }).catch(err => {
        console.log(err)


    });

}
function clearbackground(){

    var cellElements = document.querySelectorAll('.cell');
    // console.log(cellElements.length)
    // Set their ids
    for (var i = 0; i < cellElements.length; i++){
        cellElements[i].style.backgroundColor="rgb(255, 255, 255)";


    }

}
function CallMedium(){
    // var stuff=document.getElementById('me');
    // stuff.innerHTML="";
    // var arr=[3,3,3,3];
    clearbackground();


    var apiUrl = '/c2/';
    fetch(apiUrl).then(response => {
    return response.text();
    
    }).then(data => {
    // Work with JSON data here
    
    // stuff.innerHTML=JSON.stringify(data);
    // stuff.innerHTML=data;


    var cellElements = document.querySelectorAll('.cell');
    console.log(cellElements.length)
    // Set their ids
    for (var i = 0; i < cellElements.length; i++){
        if(data[i]==0){
            cellElements[i].value =  "";

        }
        else{
            cellElements[i].style.backgroundColor="rgb(219, 213, 249)";

            cellElements[i].value =  data[i];

        }


    }
    starttime();
    timer();
    //ferfrefrefr

    }).catch(err => {
        console.log(err)


    });

}
function checkdone(){
    var cellElements = document.querySelectorAll('.cell');
    console.log(cellElements.length)
    // Set their ids
    var result=true;
    for (var i = 0; i < cellElements.length; i++){
        if (cellElements[i].value==""){
            result=false;

        }
        
    }
    return result;


}
function CallHard(){
    // var stuff=document.getElementById('me');
    // stuff.innerHTML="";
    // var arr=[3,3,3,3];
    clearbackground()


    var apiUrl = '/c3/';
    fetch(apiUrl).then(response => {
    return response.text();
    
    }).then(data => {
 
    // stuff.innerHTML=JSON.stringify(data);
    // stuff.innerHTML=data;


    var cellElements = document.querySelectorAll('.cell');
    console.log(cellElements.length)
    // Set their ids
    for (var i = 0; i < cellElements.length; i++){
        if(data[i]==0){
            cellElements[i].value =  "";

        }
        else{
            cellElements[i].style.backgroundColor="rgb(219, 213, 249)";

            cellElements[i].value =  data[i];

        }


    }
    starttime();
    timer();
    //ferfrefrefr

    }).catch(err => {
        console.log(err)


    });

}


function isvalid(){
    // var stuff=document.getElementById('me');
    // stuff.innerHTML="";
    // var arr=[3,3,3,3];
    var arr=checkNum();

    

    if (checkdone()){
       
        
    var apiUrl = '/d/'+arr;
    fetch(apiUrl).then(response => {
    return response.text();
    
    }).then(data => {
    // Work with JSON data here
    
    // stuff.innerHTML=JSON.stringify(data);
    // stuff.innerHTML=data;

    if (data=="0"){
        
        alert("Your puzzle is incorrect! Try again");

    }
    else if (data=="1"){
        alert("Your puzzle is correct!");
        

    }
    pausetime();
    openForm() ;



    }).catch(err => {
        console.log(err)


    });

    }
    else{
        alert("something went wrong")
    }




}
var start= Date.now();
var active=false;
function starttime(){
    start= Date.now();
    active=true;
    

}
function pausetime(){
    start= Date.now();
    active=false;

}

function timer(){

    if (active==true){
        var date= new Date();

        var time_passed=date-start;

        // var min= time_passed.get
        // var hour =time_passed.getHours();
        // time_passed/=1000;

        var seconds=Math.floor((time_passed%(1000*60))/(1000));
        var minutes=Math.floor((time_passed%(1000*60*60))/(1000*60));
        var hours = Math.floor((time_passed % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

        if (seconds<10){
            var old=seconds;
            seconds="0"+seconds;
        }
        if (minutes<10){
            var old=minutes;
            minutes="0"+minutes;
        }
        if (hours<10){
            var old=hours;
            hours="0"+hours;
        }


        document.getElementById("myClock").innerHTML=hours+": "+minutes+": "+seconds;
        setTimeout(timer,1000);

    }


}

function getDB(){
    // var stuff=document.getElementById('me');
    // stuff.innerHTML="";
    fetch("http://localhost:9000/mongodbAPI/users")
        .then(res => {
            return res.json()})
        .then(data => {
            // stuff.innerHTML=data;

            var table=document.getElementById("leaderboard");
            var json=data;

            for(var i = 0; i < json.length; i++) {
                var obj = json[i];
         
                var row= table.insertRow();
                var cell1=row.insertCell(0);
                var cell2=row.insertCell(1);
                cell1.innerHTML=obj.name;
                cell2.innerHTML=obj.address;
               
                // row.appendChild(td);
                // row.appendChild(td2);


                // stuff.innerHTML+='<p><span >' + obj.name + ': ' + obj.address + '</p>'
            }



        }).catch(err => {
        console.log(err)


    });


}
  

    </script>


</body>

</html>

