<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>

<body>
    <p>hello world!</p>

<table>
    <tr>
        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>
    </tr>
    <tr>
        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>
    </tr>
    <tr>
        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>
    </tr>
    <tr>
        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>
    </tr>
    <tr>
        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>
    </tr>
    <tr>
        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>
    </tr>
    <tr>
        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>
    </tr>
    <tr>
        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>
    </tr>
    <tr>
        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>

        <td ><input type="text" ></td>
        <td><input type="text" ></td>   
        <td><input type="text" > </td>
    </tr>

  
    </table>

    </tr>
    </table>
    <div>Select Difficulty</div>
    <tr><button type='button' onclick="easy()">Easy</button>
        <button type='button' onclick="medium()">Medium</button>
        <button type='button' onclick="hard()">Hard</button>
    </tr>

</body>

</html>
